# Test READ

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return  conn
    except Error as e:
        print(e)
    return conn

In [3]:
def select_aliasID(conn, data):

    cur = conn.cursor()
    cur.execute("SELECT * FROM datahanet WHERE aliasID=?", (data,))

    rows = cur.fetchall()
    return rows
 
    
def select_personID(conn, data):

    cur = conn.cursor()
    cur.execute("SELECT * FROM datahanet WHERE personID=?", (data,))

    rows = cur.fetchall()
    return rows

In [7]:
path_database = r"pythondatabase.db"
conn = create_connection(path_database)
with conn:
    print("1. Query task by aliasID:")
    for row in select_aliasID(conn, str(8021)):
        print(row[2]) 
    print("1. Query task by personID:")
    for row in select_personID(conn, str(2056962459106680824)):
        print(row[2])

1. Query task by aliasID:
https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg
1. Query task by personID:
https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg

In [4]:
path_database = r"pythondatabase.db"
conn = create_connection(path_database)

1. Query task by aliasID:
https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg

In [8]:
print("1. Query task by aliasID:")
for row in select_aliasID(conn, str(8025)):
    print(row[1])

1. Query task by aliasID:

# Write API data to SQLite:

In [2]:
from json  import dumps, dump, load 
from requests import  post

In [3]:
urlqw = "https://gateway.systemkul.com/api/Gateway/GetListPeopleByUnit"
string_post = "66540EEE-61D6-48E2-B9B6-61BA0228B0FD"
string_unitCode = "nguyenvancu"

string_infor = { \
    "requestKey": string_post, \
    "unitCode": string_unitCode \
    }

In [4]:
r = post(urlqw,\
         data=dumps(string_infor),\
         headers={'Content-Type': 'application/json-patch+json', })
data1 = r.json()
data1[:2]

[{'aliasID': '9021',
  'name': '9021',
  'avatar': 'https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg',
  'title': '9021',
  'personID': '2056962459106680832'},
 {'aliasID': '90210',
  'name': '90210',
  'avatar': 'https://static.hanet.ai/face/employee/7875/396d1f3d-d27c-494a-8f78-09ec84a679b2.jpg',
  'title': '90210',
  'personID': '2056962504729649152'}]

In [5]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return  conn
    except Error as e:
        print(e)
    return conn

In [6]:
def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [7]:
#['aliasID', 'name', 'avatar', 'title', 'personID']
def create_project(conn, data):
    sql = ''' INSERT INTO datahanet (aliasID,name,avatar,title,personID)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, data)
    conn.commit()
    return cur.lastrowid

In [8]:
# aliasID PRIMARY KEY là duy nhất.
# PersonID NOT NULL không duy nhất. Cho phép thay đổi.
# Các key còn lại được phép thay đổi, và null.
sql_create_table = """
    CREATE TABLE IF NOT EXISTS datahanet (
        aliasID text PRIMARY KEY,
        name text,
        avatar text,
        title text, 
        personID text NOT NULL
    );
"""

In [9]:
path_database = r"1pythondatabase.db"
# Create a database connection
conn = create_connection(path_database)

In [11]:
if  conn is not None:
    create_table(conn, sql_create_table)
else:
    print("Error!, cannot create the database connection.")

In [12]:
text_data = data1[:10]
with conn:
    for s in text_data:
        project1 = (s["aliasID"], s["name"], s["avatar"], s["title"], s["personID"])
        try:
            project_id = create_project(conn, project1)
        except Exception as e:
            print(e)
            pass