# New database on the SQLite

In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_file(path_data):
    conn = None
    try:
        conn = sqlite3.connect(path_data)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        if conn:
            conn.close()

In [3]:
if __name__ == '__main__':
    create_file(r"pythondatabase.db")

2.6.0

## Create connet with new database.

In [4]:
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return  conn
    except Error as e:
        print(e)
    return conn

## Create table in database file

### - **4 column, consit of ['aliasID', 'name', 'avatar', 'title', 'personID']**
### - **4 type: [str, str, str, str, str]**

In [5]:
def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [6]:
# aliasID PRIMARY KEY là duy nhất.
# PersonID NOT NULL không duy nhất. Cho phép thay đổi.
# Các key còn lại được phép thay đổi, và null.
sql_create_table = """
    CREATE TABLE IF NOT EXISTS datahanet (
        aliasID text PRIMARY KEY,
        name text,
        avatar text,
        title text, 
        personID text NOT NULL
    );
"""

In [7]:
path_database = r"pythondatabase.db"

# Create a database connection
conn = create_connection(path_database)

## Create a database tables

In [8]:
if  conn is not None:
    create_table(conn, sql_create_table)
else:
    print("Error!, cannot create the database connection.")

## Insert database in table.

In [9]:
#['aliasID', 'name', 'avatar', 'title', 'personID']
def create_project(conn, data):
    sql = ''' INSERT INTO datahanet(aliasID,name,avatar,title,personID)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, data)
    conn.commit()
    return cur.lastrowid

In [49]:
path_database = r"pythondatabase.db"

# Create a database connection
conn = create_connection(path_database)
with conn:
    # create a new project
    project1 = ('9021', '9021',\
               'https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg',\
               '9021', '2056962459106680832');
    project = ('8025', '9025',\
               'https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg',\
               '9021', '2056962459106680825');
    try:
        project_id = create_project(conn, project)
    except Exception as e:
        print(e)

## Multiply insert to database:

In [11]:
from json  import load

In [12]:
f = open("data3.json", "r")
data_json = load(f)
text_data = data_json[:]
# text_data

In [15]:
path_database = r"pythondatabase.db"

# Create a database connection
conn = create_connection(path_database)
with conn:
    for s in text_data:
        project1 = (s["aliasID"], s["name"], s["avatar"], s["title"], s["personID"])
        try:
            project_id = create_project(conn, project1)
        except Exception as e:
            pass
#             print(e)

## Update database.

In [25]:
dataupdate = ('9022',\
              'https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg',\
              '9021',\
              '2056962459106680832',\
              '9021'
             )

In [26]:
def update_data(conn, data):
    sql = ''' UPDATE datahanet
              SET name = ? ,
                  avatar = ? ,
                  title = ?,
                  personID = ?
              WHERE aliasID = ?'''
    cur = conn.cursor()
    cur.execute(sql, data)
    conn.commit()

In [27]:
# create a database connection
conn = create_connection(path_database)
with conn:
    update_data(conn, dataupdate)

## Delete database

In [36]:
def delete_task(conn, data):
    sql = 'DELETE FROM datahanet WHERE aliasID=?'
    cur = conn.cursor()
    cur.execute(sql, (data,))
    conn.commit()

In [38]:
conn = create_connection(path_database)
with conn:
    delete_task(conn, 8025)

## Read database.

In [47]:
def select_aliasID(conn, data):

    cur = conn.cursor()
    cur.execute("SELECT * FROM datahanet WHERE aliasID=?", (data,))

    rows = cur.fetchall()
    return rows
 
    
def select_personID(conn, data):

    cur = conn.cursor()
    cur.execute("SELECT * FROM datahanet WHERE personID=?", (data,))

    rows = cur.fetchall()
    return rows

In [48]:
conn = create_connection(path_database)
with conn:
    print("1. Query task by aliasID:")
    for row in select_aliasID(conn, str(8021)):
        print(row[2]) 
    print("1. Query task by personID:")
    for row in select_personID(conn, str(2056962459106680824)):
        print(row[2])

1. Query task by aliasID:
https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg
1. Query task by personID:
https://static.hanet.ai/face/employee/7875/a83b6be9-3d90-4425-8b99-b1b6c78a7648.jpg